$color-blue: #08A6E4;
$color-red: #FB3B64;
$color-green: #55DFB4;
$color-gray: #A5A5A5;
$color-blue-shade: #07ACE629;
$color-light: #F7F7F7;
$color-none: rgba(0,0,0,0);

$font-headers: 'Raleway', sans-serif;
$font-general: 'Open Sans', sans-serif;

$font-size-basic: 1.6rem;
$font-size-smaller: 1.4rem;
$font-size-headings: 3.6rem;
$font-size-headings-sm: 3rem;
$font-size-titles: 4.9rem;

$shadow-light: rgba(0, 0, 0, 0.1);

$screen-lg: 1024px;
$screen-sm: 524px;
$screen-md: 768px;