.section-pricing__content {
    @include flex (space-evenly, center, row);
    .section-pricing__item {
        @include flex (center, center, column);
        flex: 1;
        margin-bottom: 0;
        .section-pricing__header {
            padding-right: 0;
        }
    }
    .section-pricing__item_basic {
        margin-right: 4rem;
    }
    .section-pricing__item_pro {
        padding: 2rem 3rem 6rem 3rem;
        margin-right: 4rem;
    }
}